root = true

[*]
resharper_csharp_brace_style = end_of_line
indent_size = 4
max_line_length = 120
trim_trailing_whitespace = true
csharp_prefer_braces = when_multiline:error
blank_lines_around_field = 0
